{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}

    <!--Django Login-Funktion-->
    <div class="container">
        <h2>Login</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Anmelden</button>
        </form>
    </div>

    <!--Link zur Registerungs-Seite-->
    <div class="container signin mt-5">
        <p>Du hast noch kein Login? <a href="{% url 'signup' %}">Registrieren</a></p>
    </div>

{% endblock content %}