{% extends 'base.html' %}
{% load static %}
{% block title %}Registration{% endblock title %}

{% block content %}

    <div class="container mt-5">
        <h2>Login erstellen</h2>
        <p>Bitte füllen Sie folgende Felder aus, um ein Login zu erstellen:</p>


        <!--Django Registrierungs-Funktion-->
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Registrieren</button>
            </form>
        </div>

        <!--Link zur Login-Seite-->
        <div class="container signin mt-5">
            <p>Du hast bereits ein Login? <a href="{% url 'login' %}">Einloggen</a></p>
        </div>
    </div>
{% endblock content %}